$headerColor: rgba(230,100,100,0.8);
$headerFontColor: #eee;
$contentBG: rgba(230,100,100,0.4);;
$textShadow: -5px -2px 5px #333;
$headerFont: Lobster;
body {
  background-color: $contentBG;
}
#header, #footer {
  background-color: $headerColor;
  font-family: $headerFont;
  color: $headerFontColor;
  text-shadow: $textShadow;

}
#footer {
  text-align: center;
}

#leaderboard {
  font-family: Helvetica;
  color: #222;
  min-height: 100vh;

  background-color: $contentBG;
  text-shadow: none;
  p {
    font-size: 18px;

  }
  .camper {
    background-color: #eee;

  }
  .evenCamper {
    background-color: #ddd;
  }

}
.switch {
  margin-top: 30px;
  margin-bottom: 30px;
}
.camperIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
